name: Deploy Dev/Prod Cloudflare Worker

on:
  push:
    branches:
      - main
      - dev

jobs:
  deploy-worker:
    permissions:
      contents: write

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install Dependencies
        run: npm ci

      - name: Deploy Worker
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        run: |
          if [[ "${GITHUB_REF}" == "refs/heads/dev" ]]; then
            npx wrangler deploy --env dev
          elif [[ "${GITHUB_REF}" == "refs/heads/main" ]]; then
            npx wrangler deploy
          fi
